{% extends "b2.html" %}

{% block content %}

<div class="heading-container">
    <section class="user-guide">
        <ol class="guide-steps">
            <li>
                <h3>Sign In</h3>
                <p>Sign in to use AutoSwipe</p>
            </li>
        </ol>
    </section>

    <form method="POST" class="form-signin">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
            <div class="error">{{ form.email.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
            <div class="error">{{ form.password.errors[0] }}</div>
            {% endif %}
        </div>
        <button type="submit" class="cta-button btn-form">Submit</button>
    </form>
</div>

{% endblock %}