{% extends "b2.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="heading-container">
    <!-- User Guide Section -->
    <section class="user-guide">
        <ol class="guide-steps">
            <li>
                <h3>Your AutoSwipe History</h3>
                <p>View a log of your likes and dislikes.</p>
            </li>
        </ol>
    </section>


    <div id="historyAccordion">
        <!-- Liked Cars Section -->
        <div class="card">
            <div class="card-header" id="likedCarsHeading">
                <button class="cta-button" data-toggle="collapse" data-target="#likedCarsCollapse" aria-expanded="false"
                    aria-controls="likedCarsCollapse">
                    <span>View Liked Cars</span>
                </button>
            </div>

            {% if liked_exist %}
            <div id="likedCarsCollapse" class="collapse show" aria-labelledby="likedCarsHeading"
                data-parent="#historyAccordion">
                <div class="card-body">
                    <div class="table-responsive" style="background-color: #ecc6f3">
                        <div class="scrollable-table2">
                            <table class="table table-striped table-bordered"
                                style="background-color: #e8cfed; font-size: 20px;">
                                <thead class="thead-dark">
                                    <tr class="hover-highlight">
                                        <th>Name</th>
                                        <th>Year</th>
                                        <th>Body</th>
                                        <th>Monthly (£)</th>
                                        <th>Mileage</th>
                                        <th>Liked</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for time_diff, car in liked_cars %}
                                    <tr>
                                        <td>{{ car['carName'] }}</td>
                                        <td>{{ car['year'] }}</td>
                                        <td>{{ car['body_type'] }}</td>
                                        <td>{{ car['monthly_payment'] }}</td>
                                        <td>{{ car['mileage'] }}</td>
                                        <td>{{ time_diff }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <h3>You haven't liked anything! Go explore our range.</h3>
            {% endif %}
        </div>

        <!-- Disliked Cars Section -->
        <div class="card">
            <div class="card-header" id="dislikedCarsHeading">
                <button class="cta-button" data-toggle="collapse" data-target="#dislikedCarsCollapse" aria-expanded="false"
                    aria-controls="dislikedCarsCollapse">
                    <span>Disliked Cars</span>
                </button>
            </div>
        
            {% if disliked_exist %}
            <div id="dislikedCarsCollapse" class="collapse" aria-labelledby="dislikedCarsHeading"
                data-parent="#historyAccordion">
                <div class="card-body">
                    <div class="table-responsive" style="background-color: #ecc6f3">
                        <div class="scrollable-table2">
                            <table class="table table-striped table-bordered"
                                style="background-color: #e8cfed; font-size: 20px;">
                                <thead class="thead-dark">
                                    <tr class="hover-highlight">
                                        <th>Name</th>
                                        <th>Year</th>
                                        <th>Body</th>
                                        <th>Monthly (£)</th>
                                        <th>Mileage</th>
                                        <th>Liked</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for time_diff, car in disliked_cars %}
                                    <tr>
                                        <td>{{ car['carName'] }}</td>
                                        <td>{{ car['year'] }}</td>
                                        <td>{{ car['body_type'] }}</td>
                                        <td>{{ car['monthly_payment'] }}</td>
                                        <td>{{ car['mileage'] }}</td>
                                        <td>{{ time_diff }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <h3>You haven't disliked anything yet.</h3>
            {% endif %}
        </div>
        </div>
        </div>
        
    </div>


</div>

<div>
    <!-- Script from code.jquery.com allows the nav bar to be interactive (drop downs) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    
    <!-- Script from bootstrap also aids in nav bar interactivity -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</div>
{% endblock %}