{% extends "base.html" %}

{% block content %}
<div class="saved">
    <section class="intro">
        <h1>Saved</h1>
        <p>Remember that one?</p>
    </section>

    <!-- User Guide Section -->
    <section class="user-guide">
        <h2>When You AutoSwiped</h2>
        <ol class="guide-steps">
            <li>
                <h3>Review Your Favourites</h3>
                <p>Access your saved favourites anytime and find your perfect match.</p>
            </li>
            <li>
                <h3>Get In Touch</h3>
                <p>Found the one? Get in touch with the seller right through the app.</p>
            </li>
        </ol>
    </section>
    <h2><a href="/saved/single_view" title="**Car Name**">Car X</a></h2>

</div>
{% endblock %}