{% extends "base.html" %}

{% block content %}
<div class="settings">
    <br><br>
    <section class="user-guide">
        <ol class="guide-steps">
            <h1>Settings</h1>
            <p>Customise on your own terms.</p>
            <section class="cta">
                <form action="{{ url_for('views.delete_account') }}" method="POST">
                    <button type="submit" class="cta-button">Delete My Account</button>
                </form>
            </section>
        </ol>
    </section>
</div>
{% endblock %}