{% extends "b2.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
</head>

<div class="heading-container">

    <div class="detail-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='cars/' ~ car['imageUrl'] ~ '.jpg') }}"
                alt="{{ car['carName'] }}">
        </div>

        <div class="single-card-container">
            <article class="single-card" id="cardInfo">
                <p>Make: {{ car['make'] }}</p>
                <p>Model: {{ car['model'] }}</p>
                <p>Year: {{ car['year'] }}</p>
                <p>Body Type: {{ car['body_type'] }}</p>
                <p>Horsepower: {{ car['horsepower'] }} bhp</p>
                <p>Monthly Fee: £{{ car['monthly_payment'] }}</p>
                <p>Mileage: {{ car['mileage'] }}</p>
                <footer class="card-footer">
                    <button class="animated-button" aria-label="Contact Lessor">Contact Owner</button>
                </footer>
            </article>
        </div>
    </div>

</div>
{% endblock %}