{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="single-view">
    <section class="intro">
        <h1>**Car name**</h1>
        <p>Your car details.</p>
    </section>

    
    <div class="explore">
    
        <!-- Source: https://github.com/CodeSteppe/card-swiper -->
        <div class="card-container">
    
            <div id="swiper"></div>
    
            <!-- Local Scripts -->
            <script type="text/javascript">const cars = {{ cars | tojson | safe }};</script>
            <script src="{{ url_for('static', filename='card.js') }}"></script>
            <script src="{{ url_for('static', filename='cardContainer.js') }}"></script>
        </div>
    
    </div>


    <div id="entriesAccordion">
        <div class="card">
            <div class="card-header" id="entriesHeading" style="background-color: #ecc6f3">
                <h2 class="mb-0">
                    <button class="cta-button" data-toggle="collapse" data-target="#entriesCollapse" aria-expanded="true"
                        aria-controls="entriesCollapse">
                        <span> View Xs </span>
                    </button>
                </h2>
            </div>
    
            <div id="entriesCollapse" class="collapse show" aria-labelledby="entriesHeading" data-parent="#entriesAccordion"
                style="background-color: #ecc6f3">
                <div class="card-body">
                    <div class="table-responsive" style="background-color: #ecc6f3">
                        <table class="table table-striped table-bordered" style="background-color: #e8cfed">
                            <thead class="thead-dark">
                                <tr class="hover-highlight">
                                    <th>User</th>
                                    <th>Email</th>
                                    <th style="text-align: center">Last seen</th>
                                    <th style="text-align: center">Action
                                        <button type="button" class="btn btn-danger rounded-pill">
                                            Delete All
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>X</td>
                                    <td>X</td>
                                    <td style="text-align: center">X</td>
    
                                    <td style="text-align: center">
                                        <button type="button" class="btn btn-warning rounded-pill">
                                            Edit X
                                        </button>
                                        <button type="button" class="btn btn-danger rounded-pill">
                                            Delete X
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align: center">
                                        <h3>No data here!</h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</div>

<div>
    <!-- Script from code.jquery.com allows the nav bar to be interactive (drop downs) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    
    <!-- Script from bootstrap also aids in nav bar interactivity -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</div>
{% endblock %}