{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
</head>



<div class="heading-container">
    <div class="detail-container">
        <!-- Picture frame container -->
        <div class="frame-container">
            <!-- Picture frame -->
            <img class="frame" src="{{ url_for('static', filename='icons/frame.png') }}" alt="Antique Picture Frame">
            <!-- Car image -->
            <img class="car-image" src="{{ url_for('static', filename='cars/' ~ car['imageUrl'] ~ '.jpg') }}"
                alt="{{ car['carName'] }}">
        </div>
        
        <div class="single-card-container">
            <article class="single-card" id="cardInfo">
                <strong><p>Make </strong>
                {{ car['make'] }}</p>
                <strong><p>Model </strong>
                {{ car['model'] }}</p>
                <strong><p>Year </strong>
                {{ car['year'] }}</p>
                <strong><p>Body Type </strong>
                {{ car['body_type'] }}</p>
                <strong><p>Horsepower </strong>
                {{ car['horsepower'] }} bhp</p>
                <strong><p>Monthly Fee </strong>
                £{{ car['monthly_payment'] }}</p>
                <strong><p>Mileage </strong>
                {{ car['mileage'] }}</p>
                <footer class="card-footer">
                    <button class="animated-button" aria-label="Contact Owner">Contact Owner</button>
                </footer>
            </article>
        </div>
    </div>

</div>

{% endblock %}